---
title: "Create A DataFrame from a Dictionary"
description: "A DataFrame object represents a spreadsheet, with cell values, column names and row index labels. Initialize a DataFrame object from a list of lists. Initialize a DataFrame from a dictionary"
tags: Pandas, Dictionaries
URL: https://github.com/ageron/handson-ml
Licence: Apache License 2.0
Creator: 
Meta: ""

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Create A DataFrame from a Dictionary
        </h1>
        <p>A DataFrame object represents a spreadsheet, with cell values, column names and row index labels. Initialize a DataFrame object from a list of lists. Initialize a DataFrame from a dictionary</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
import pandas as pd

## By default, the keys become the columns

In [ ]:
pd.DataFrame.from_dict(data)

## Specify `orient = 'index'` to use keys as the rows

In [ ]:
pd.DataFrame.from_dict(data, orient = 'index')
# when using 'index' orientation, you can rename columns
pd.DataFrame.from_dict(data, 
                       orient = 'index',
                       columns = ['name_1', 'name_2', '...'])

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

# Keys as columns

## With index labels

In [128]:
people_dict = {
    "weight": [68, 83, 112],
    "birthyear": [1985, 1984, 1992],
    "children": [np.nan, 3, 0],
    "hobby": ["Biking", "Dancing", np.nan],
}
people = pd.DataFrame(people_dict, index=["alice", "bob", "charles"])
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

## Without index labels

In [30]:
data = {"model" : ['s', '3', 'x', 'y'], "seats" : [2,4,6,8], "price" : [100,200,300,400]}
teslas = pd.DataFrame.from_dict(data)
teslas# Example&

  model  seats  price
0     s      2    100
1     3      4    200
2     x      6    300
3     y      8    400

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## `orient = 'index' `

In [34]:
data = {2018: [100, 200, 250, 300], 2019 : [115, 200, 230, 370]}
money = pd.DataFrame.from_dict(data, orient = 'index')
money

        0    1    2    3
2018  100  200  250  300
2019  115  200  230  370

In [35]:
money = pd.DataFrame.from_dict(data, 
                               orient = 'index',
                               columns = ['food', 'internet', 'books', 'rent'])
money

      food  internet  books  rent
2018   100       200    250   300
2019   115       200    230   370