---
title: "Filter Rows of DataFrame with a Boolean Expression"
description: "You can pass a boolean array to get the matching rows or filter the rows of a DataFrame with a boolean expression. Both will return DataFrames that are subsets of the original dataframe."
tags: Pandas
URL: https://github.com/ageron/handson-ml
Licence: Apache License 2.0
Creator: 
Meta: ""

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Filter Rows of DataFrame with a Boolean Expression
        </h1>
        <p>You can pass a boolean array to get the matching rows or filter the rows of a DataFrame with a boolean expression. Both will return DataFrames that are subsets of the original dataframe.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
import pandas as pd

In [ ]:
# get Series of True and False
df["column"] < 10

In [ ]:
# get rows of dataframe when condition is True
df[ df["column"] != "Other" ]

In [ ]:
import numpy as np
# get rows when True
df[np.array([True, False, True])]

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Create example DataFrame

In [36]:
people_dict = {
    "weight": [68, 83, 112],
    "birthyear": [1985, 1984, 1992],
    "children": [np.nan, 3, 0],
    "hobby": ["Biking", "Dancing", np.nan],
}
people = pd.DataFrame(people_dict, index=["alice", "bob", "charles"])
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

## Boolean array to get the matching rows

In [46]:
people[np.array([True, False, True])]

         weight  birthyear  children   hobby
alice        68       1985       NaN  Biking
charles     112       1992       0.0     NaN

## Boolean expressions to get matching rows

In [47]:
people["birthyear"] < 1990

alice       True
bob         True
charles    False
Name: birthyear, dtype: bool

In [48]:
people[people["birthyear"] < 1990]

       weight  birthyear  children    hobby
alice      68       1985       NaN   Biking
bob        83       1984       3.0  Dancing

In [52]:
# Fun Fact: NaN != NaN
people[people["hobby"] == people["hobby"]]

       weight  birthyear  children    hobby
alice      68       1985       NaN   Biking
bob        83       1984       3.0  Dancing