## old code see iteration in midas

In [11]:
import boto3
import botocore

In [12]:
import logging
from botocore.exceptions import ClientError

## iteration

In [13]:
import json
s3 = boto3.resource('s3',
                    aws_access_key_id='---',
                    aws_secret_access_key= '----')

bucket = s3.Bucket('mytestbricks')

In [ ]:
for obj, i in zip(bucket.objects.all(), range(len(bucket.objects.all())+1)):
    if i % 100 == 0:
        print(i) if i%500 == 0 else print('.') 
                  
    key = obj.key
    body = obj.get()['Body'].read()
    print(key, json.loads(body))
    if i == 1:
        break

In [5]:
test = b'{"cells": [{"cell_type": "markdown", "metadata": {}, "source": ["---\\n", "title: \\"Access Rows of a DataFrame By Index Label (loc)\\"\\n", "description: \\"The loc attribute of a pandas DataFrame lets you access rows by the index label. The result is a Series object with the DataFrame\'s column names mapped to the row index labels.\\"\\n", "tags: Pandas\\n", "URL: https://github.com/ageron/handson-ml\\n", "Licence: Apache License 2.0\\n", "Creator: \\n", "Meta: \\"\\"\\n", "\\n", "---"]}, {"cell_type": "markdown", "metadata": {}, "source": [" <div>\\n    \\t<img src=\\"./coco.png\\" style=\\"float: left;height: 55px\\">\\n    \\t<div style=\\"height: 150px;text-align: center; padding-top:5px\\">\\n        <h1>\\n      \\tAccess Rows of a DataFrame By Index Label (loc)\\n        </h1>\\n        <p>The loc attribute of a pandas DataFrame lets you access rows by the index label. The result is a Series object with the DataFrame\'s column names mapped to the row index labels.</p>\\n    \\t</div>\\n\\t\\t</div> "]}, {"cell_type": "markdown", "metadata": {}, "source": [" <div style=\\"height:40px\\">\\n\\t\\t<div style=\\"width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;\\">\\n    \\t<span style=\\"background:#fff; padding:0 10px; font-size:25px; font-family: \'Open Sans\', sans-serif;\\">\\n        Key Code\\n    \\t</span>\\n\\t\\t</div>\\n\\t\\t</div>\\n\\t\\t\\t"]}, {"cell_type": "code", "execution_count": null, "metadata": {}, "outputs": [], "source": ["import pandas as pd"]}, {"cell_type": "code", "execution_count": null, "metadata": {}, "outputs": [], "source": ["# single label for a row => Series\\n", "df.loc[\'row_label\']"]}, {"cell_type": "code", "execution_count": null, "metadata": {}, "outputs": [], "source": ["# list of labels for many rows => DataFrame\\n", "df.loc[[\'row_1\', \'row_2\', \'...\']]"]}, {"cell_type": "markdown", "metadata": {}, "source": [" <div style=\\"height:40px\\">\\n\\t\\t<div style=\\"width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;\\">\\n    \\t<span style=\\"background:#fff; padding:0 10px; font-size:25px; font-family: \'Open Sans\', sans-serif;\\">\\n        Example\\n    \\t</span>\\n\\t\\t</div>\\n\\t\\t</div>\\n\\t\\t\\t"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Create example DataFrame"]}, {"cell_type": "code", "execution_count": 36, "metadata": {}, "outputs": [{"data": {"text/html": ["<div>\\n", "<style scoped>\\n", "    .dataframe tbody tr th:only-of-type {\\n", "        vertical-align: middle;\\n", "    }\\n", "\\n", "    .dataframe tbody tr th {\\n", "        vertical-align: top;\\n", "    }\\n", "\\n", "    .dataframe thead th {\\n", "        text-align: right;\\n", "    }\\n", "</style>\\n", "<table border=\\"1\\" class=\\"dataframe\\">\\n", "  <thead>\\n", "    <tr style=\\"text-align: right;\\">\\n", "      <th></th>\\n", "      <th>weight</th>\\n", "      <th>birthyear</th>\\n", "      <th>children</th>\\n", "      <th>hobby</th>\\n", "    </tr>\\n", "  </thead>\\n", "  <tbody>\\n", "    <tr>\\n", "      <th>alice</th>\\n", "      <td>68</td>\\n", "      <td>1985</td>\\n", "      <td>NaN</td>\\n", "      <td>Biking</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>bob</th>\\n", "      <td>83</td>\\n", "      <td>1984</td>\\n", "      <td>3.0</td>\\n", "      <td>Dancing</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>charles</th>\\n", "      <td>112</td>\\n", "      <td>1992</td>\\n", "      <td>0.0</td>\\n", "      <td>NaN</td>\\n", "    </tr>\\n", "  </tbody>\\n", "</table>\\n", "</div>"], "text/plain": ["         weight  birthyear  children    hobby\\n", "alice        68       1985       NaN   Biking\\n", "bob          83       1984       3.0  Dancing\\n", "charles     112       1992       0.0      NaN"]}, "execution_count": 36, "metadata": {}, "output_type": "execute_result"}], "source": ["people_dict = {\\n", "    \\"weight\\": [68, 83, 112],\\n", "    \\"birthyear\\": [1985, 1984, 1992],\\n", "    \\"children\\": [np.nan, 3, 0],\\n", "    \\"hobby\\": [\\"Biking\\", \\"Dancing\\", np.nan],\\n", "}\\n", "people = pd.DataFrame(people_dict, index=[\\"alice\\", \\"bob\\", \\"charles\\"])\\n", "people"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Get one row"]}, {"cell_type": "code", "execution_count": 38, "metadata": {}, "outputs": [{"data": {"text/plain": ["weight           68\\n", "birthyear      1985\\n", "children        NaN\\n", "hobby        Biking\\n", "Name: alice, dtype: object"]}, "execution_count": 38, "metadata": {}, "output_type": "execute_result"}], "source": ["people.loc[\'alice\']"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Get multiple rows"]}, {"cell_type": "code", "execution_count": 39, "metadata": {"scrolled": true}, "outputs": [{"data": {"text/html": ["<div>\\n", "<style scoped>\\n", "    .dataframe tbody tr th:only-of-type {\\n", "        vertical-align: middle;\\n", "    }\\n", "\\n", "    .dataframe tbody tr th {\\n", "        vertical-align: top;\\n", "    }\\n", "\\n", "    .dataframe thead th {\\n", "        text-align: right;\\n", "    }\\n", "</style>\\n", "<table border=\\"1\\" class=\\"dataframe\\">\\n", "  <thead>\\n", "    <tr style=\\"text-align: right;\\">\\n", "      <th></th>\\n", "      <th>weight</th>\\n", "      <th>birthyear</th>\\n", "      <th>children</th>\\n", "      <th>hobby</th>\\n", "    </tr>\\n", "  </thead>\\n", "  <tbody>\\n", "    <tr>\\n", "      <th>bob</th>\\n", "      <td>83</td>\\n", "      <td>1984</td>\\n", "      <td>3.0</td>\\n", "      <td>Dancing</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>charles</th>\\n", "      <td>112</td>\\n", "      <td>1992</td>\\n", "      <td>0.0</td>\\n", "      <td>NaN</td>\\n", "    </tr>\\n", "  </tbody>\\n", "</table>\\n", "</div>"], "text/plain": ["         weight  birthyear  children    hobby\\n", "bob          83       1984       3.0  Dancing\\n", "charles     112       1992       0.0      NaN"]}, "execution_count": 39, "metadata": {}, "output_type": "execute_result"}], "source": ["people.loc[[\'bob\', \'charles\']]"]}], "metadata": {"kernelspec": {"display_name": "Python 3", "language": "python", "name": "python3"}, "language_info": {"codemirror_mode": {"name": "ipython", "version": 3}, "file_extension": ".py", "mimetype": "text/x-python", "name": "python", "nbconvert_exporter": "python", "pygments_lexer": "ipython3", "version": "3.6.7"}}, "nbformat": 4, "nbformat_minor": 2}'

In [ ]:
import json
json.loads(test)

In [15]:
nb_stream = bucket.Object('prices_to_floats.ipynb').get()['Body'].read()

In [16]:
def bytes_into_brick(nb_stream):
    code = json.loads(nb_stream)
    new_brick['code'] = json.dumps(code)
    temp_id = random.randint(1, 100000000)
    # new_brick['id'] = temp_id
    return new_brick

In [29]:
code = json.loads(nb_stream)
del code['cells'][0]

In [30]:
code

{'cells': [{'cell_type': 'markdown',
   'metadata': {},
   'source': ['# Converting Prices to Floats in Pandas']},
  {'cell_type': 'code',
   'execution_count': 32,
   'metadata': {},
   'outputs': [],
   'source': ['# use the replace method for strings\n',
    "df['price'] = df['price'].apply(lambda x: str(x).replace('$','')).apply(lambda x: str(x).replace(',','')).astype(float)"]},
  {'cell_type': 'code',
   'execution_count': 33,
   'metadata': {},
   'outputs': [],
   'source': ['# use regular expressions\n',
    "df['price'] = df['price'].replace('[\\$,]', '', regex=True).astype(float)"]},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['---']},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['## Example']},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['### Preliminaries']},
  {'cell_type': 'code',
   'execution_count': 28,
   'metadata': {},
   'outputs': [],
   'source': ['import pandas as pd\n',
    'import re # optional (only used for 2nd example)']},
  {'cell_type': 'code',
   'execution_count': 29,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>price</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>$7.90</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>$1.23</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>$2.16</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>$1,298.00</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>$1,000,000.00</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['           price\n',
       '0          $7.90\n',
       '1          $1.23\n',
       '2          $2.16\n',
       '3      $1,298.00\n',
       '4  $1,000,000.00']},
     'execution_count': 29,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['# create some price data\n',
    "raw_data = {'price': ['$7.90', '$1.23', '$2.16', '$1,298.00', '$1,000,000.00']}\n",
    "df = pd.DataFrame(raw_data, columns = ['price'])\n",
    'df']},
  {'cell_type': 'code',
   'execution_count': 30,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>price</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>7.90</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>1.23</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>2.16</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>1298.00</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>1000000.00</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['        price\n',
       '0        7.90\n',
       '1        1.23\n',
       '2        2.16\n',
       '3     1298.00\n',
       '4  1000000.00']},
     'execution_count': 30,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["df['price'] = df['price'].apply(lambda x: str(x).replace('$','')).apply(lambda x: str(x).replace(',','')).astype(float)\n",
    'df']},
  {'cell_type': 'code',
   'execution_count': 31,
   'metadata': {},
   'outputs': [{'data': {'text/plain': ['0          7.90\n',
       '1          1.23\n',
       '2          2.16\n',
       '3       1298.00\n',
       '4    1000000.00\n',
       'Name: price, dtype: float64']},
     'execution_count': 31,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["df['price'].replace('[\\$,]', '', regex=True).astype(float)"]}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3.0},
   'file_extension': '.py',
   'mimetype': 'text/x-python',
   'name': 'python',
   'nbconvert_exporter': 'python',
   'pygments_lexer': 'ipython3',
   'version': '3.6.7'}},
 'nbformat': 4,
 'nbformat_minor': 0}

In [36]:
bytes(json.dumps(code), 'utf-8')

b'{"cells": [{"cell_type": "markdown", "metadata": {}, "source": ["# Converting Prices to Floats in Pandas"]}, {"cell_type": "code", "execution_count": 32, "metadata": {}, "outputs": [], "source": ["# use the replace method for strings\\n", "df[\'price\'] = df[\'price\'].apply(lambda x: str(x).replace(\'$\',\'\')).apply(lambda x: str(x).replace(\',\',\'\')).astype(float)"]}, {"cell_type": "code", "execution_count": 33, "metadata": {}, "outputs": [], "source": ["# use regular expressions\\n", "df[\'price\'] = df[\'price\'].replace(\'[\\\\$,]\', \'\', regex=True).astype(float)"]}, {"cell_type": "markdown", "metadata": {}, "source": ["---"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Example"]}, {"cell_type": "markdown", "metadata": {}, "source": ["### Preliminaries"]}, {"cell_type": "code", "execution_count": 28, "metadata": {}, "outputs": [], "source": ["import pandas as pd\\n", "import re # optional (only used for 2nd example)"]}, {"cell_type": "code", "execution_count": 29, "metadata": {}, "outputs": [{"data": {"text/html": ["<div>\\n", "<style scoped>\\n", "    .dataframe tbody tr th:only-of-type {\\n", "        vertical-align: middle;\\n", "    }\\n", "\\n", "    .dataframe tbody tr th {\\n", "        vertical-align: top;\\n", "    }\\n", "\\n", "    .dataframe thead th {\\n", "        text-align: right;\\n", "    }\\n", "</style>\\n", "<table border=\\"1\\" class=\\"dataframe\\">\\n", "  <thead>\\n", "    <tr style=\\"text-align: right;\\">\\n", "      <th></th>\\n", "      <th>price</th>\\n", "    </tr>\\n", "  </thead>\\n", "  <tbody>\\n", "    <tr>\\n", "      <th>0</th>\\n", "      <td>$7.90</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>1</th>\\n", "      <td>$1.23</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>2</th>\\n", "      <td>$2.16</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>3</th>\\n", "      <td>$1,298.00</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>4</th>\\n", "      <td>$1,000,000.00</td>\\n", "    </tr>\\n", "  </tbody>\\n", "</table>\\n", "</div>"], "text/plain": ["           price\\n", "0          $7.90\\n", "1          $1.23\\n", "2          $2.16\\n", "3      $1,298.00\\n", "4  $1,000,000.00"]}, "execution_count": 29, "metadata": {}, "output_type": "execute_result"}], "source": ["# create some price data\\n", "raw_data = {\'price\': [\'$7.90\', \'$1.23\', \'$2.16\', \'$1,298.00\', \'$1,000,000.00\']}\\n", "df = pd.DataFrame(raw_data, columns = [\'price\'])\\n", "df"]}, {"cell_type": "code", "execution_count": 30, "metadata": {}, "outputs": [{"data": {"text/html": ["<div>\\n", "<style scoped>\\n", "    .dataframe tbody tr th:only-of-type {\\n", "        vertical-align: middle;\\n", "    }\\n", "\\n", "    .dataframe tbody tr th {\\n", "        vertical-align: top;\\n", "    }\\n", "\\n", "    .dataframe thead th {\\n", "        text-align: right;\\n", "    }\\n", "</style>\\n", "<table border=\\"1\\" class=\\"dataframe\\">\\n", "  <thead>\\n", "    <tr style=\\"text-align: right;\\">\\n", "      <th></th>\\n", "      <th>price</th>\\n", "    </tr>\\n", "  </thead>\\n", "  <tbody>\\n", "    <tr>\\n", "      <th>0</th>\\n", "      <td>7.90</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>1</th>\\n", "      <td>1.23</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>2</th>\\n", "      <td>2.16</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>3</th>\\n", "      <td>1298.00</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>4</th>\\n", "      <td>1000000.00</td>\\n", "    </tr>\\n", "  </tbody>\\n", "</table>\\n", "</div>"], "text/plain": ["        price\\n", "0        7.90\\n", "1        1.23\\n", "2        2.16\\n", "3     1298.00\\n", "4  1000000.00"]}, "execution_count": 30, "metadata": {}, "output_type": "execute_result"}], "source": ["df[\'price\'] = df[\'price\'].apply(lambda x: str(x).replace(\'$\',\'\')).apply(lambda x: str(x).replace(\',\',\'\')).astype(float)\\n", "df"]}, {"cell_type": "code", "execution_count": 31, "metadata": {}, "outputs": [{"data": {"text/plain": ["0          7.90\\n", "1          1.23\\n", "2          2.16\\n", "3       1298.00\\n", "4    1000000.00\\n", "Name: price, dtype: float64"]}, "execution_count": 31, "metadata": {}, "output_type": "execute_result"}], "source": ["df[\'price\'].replace(\'[\\\\$,]\', \'\', regex=True).astype(float)"]}], "metadata": {"kernelspec": {"display_name": "Python 3", "language": "python", "name": "python3"}, "language_info": {"codemirror_mode": {"name": "ipython", "version": 3.0}, "file_extension": ".py", "mimetype": "text/x-python", "name": "python", "nbconvert_exporter": "python", "pygments_lexer": "ipython3", "version": "3.6.7"}}, "nbformat": 4, "nbformat_minor": 0}'