## old code see iteration in midas

In [8]:
import boto3
import botocore

In [10]:
import logging
import boto3
from botocore.exceptions import ClientError
import boto3
import botocore


def get_object(bucket_name, object_name):
    """Retrieve an object from an Amazon S3 bucket

    :param bucket_name: string
    :param object_name: string
    :return: botocore.response.StreamingBody object. If error, return None.
    """

    # Retrieve the object
    s3 = boto3.client('s3',
        aws_access_key_id='---',
        aws_secret_access_key= '---')

    try:
        response = s3.get_object(Bucket=bucket_name, Key=object_name)
    except ClientError as e:
        # AllAccessDisabled error == bucket or object not found
        # logging.error(e)
        return None
    # Return an open StreamingBody object
    return response['Body']

In [11]:
"""Exercise get_object()"""

# Assign these values before running the program
test_bucket_name = 'so-bricks'
test_object_name = 'Access Rows of a DataFrame By Index Label (loc).ipynb'

# Set up logging
# logging.basicConfig(level=logging.DEBUG,
                   # format='%(levelname)s: %(asctime)s: %(message)s')

# Retrieve the object
stream = get_object(test_bucket_name, test_object_name)
if stream is not None:
    # Read first chunk of the object's contents into memory as bytes
    data = stream.read(amt=7000)

    # Output object's beginning characters
    print(type(data))
    # logging.info(f'{test_object_name}: {data[:60]}...')

<class 'bytes'>

## iteration

In [20]:
import json
s3 = boto3.resource('s3',
                    aws_access_key_id='---',
                    aws_secret_access_key= '----')

bucket = s3.Bucket('so-bricks')

for obj, i in zip(bucket.objects.all(), range(len(bucket.objects.all())+1)):
    if i % 100 == 0:
        print(i) if i%500 == 0 else print('.') 
                  
    key = obj.key
    body = obj.get()['Body'].read()
    print(key, json.loads(body))
    if i == 1:
        break

0
100003.ipynb {'cells': [{'cell_type': 'markdown', 'metadata': {}, 'source': ['---\n', 'title: "What are metaclasses in Python?"\n', 'description: ""\n', 'tags: "python, oop, metaclass, python-datamodel"\n', 'URL: https://stackoverflow.com/questions/100003\n', 'Licence: \n', 'Creator: \n', 'Meta: ""\n', '\n', '---']}, {'cell_type': 'markdown', 'metadata': {}, 'source': [' <div>\n    \t<img src="./coco.png" style="float: left;height: 55px">\n    \t<div style="height: 150px;text-align: center; padding-top:5px">\n        <h1>\n      \tWhat are metaclasses in Python?\n        </h1>\n        <p></p>\n    \t</div>\n\t\t</div> ']}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Question&']}, {'cell_type': 'markdown', 'metadata': {}, 'source': '<p>What are metaclasses and what do we use them for?</p>\n'}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Answer&']}, {'cell_type': 'markdown', 'metadata': {}, 'source': '<p>A metaclass is the class of a class. A class defines how an instance of the class (i.e. an object) behaves while a metaclass defines how a class behaves. A class is an instance of a metaclass.</p>\n\n<p>While in Python you can use arbitrary callables for metaclasses (like <a href="https://stackoverflow.com/questions/100003/what-is-a-metaclass-in-python/100037#100037">Jerub</a> shows), the better approach is to make it an actual class itself. <code>type</code> is the usual metaclass in Python. <code>type</code> is itself a class, and it is its own type. You won\'t be able to recreate something like <code>type</code> purely in Python, but Python cheats a little. To create your own metaclass in Python you really just want to subclass <code>type</code>.</p>\n\n<p>A metaclass is most commonly used as a class-factory. When you create an object by calling the class, Python creates a new class (when it executes the \'class\' statement) by calling the metaclass. Combined with the normal <code>__init__</code> and <code>__new__</code> methods, metaclasses therefore allow you to do \'extra things\' when creating a class, like registering the new class with some registry or replace the class with something else entirely.</p>\n\n<p>When the <code>class</code> statement is executed, Python first executes the body of the <code>class</code> statement as a normal block of code. The resulting namespace (a dict) holds the attributes of the class-to-be. The metaclass is determined by looking at the baseclasses of the class-to-be (metaclasses are inherited), at the <code>__metaclass__</code> attribute of the class-to-be (if any) or the <code>__metaclass__</code> global variable. The metaclass is then called with the name, bases and attributes of the class to instantiate it.</p>\n\n<p>However, metaclasses actually define the <em>type</em> of a class, not just a factory for it, so you can do much more with them. You can, for instance, define normal methods on the metaclass. These metaclass-methods are like classmethods in that they can be called on the class without an instance, but they are also not like classmethods in that they cannot be called on an instance of the class. <code>type.__subclasses__()</code> is an example of a method on the <code>type</code> metaclass. You can also define the normal \'magic\' methods, like <code>__add__</code>, <code>__iter__</code> and <code>__getattr__</code>, to implement or change how the class behaves.</p>\n\n<p>Here\'s an aggregated example of the bits and pieces:</p>\n\n<pre><code>def make_hook(f):\n    """Decorator to turn \'foo\' method into \'__foo__\'"""\n    f.is_hook = 1\n    return f\n\nclass MyType(type):\n    def __new__(mcls, name, bases, attrs):\n\n        if name.startswith(\'None\'):\n            return None\n\n        # Go over attributes and see if they should be renamed.\n        newattrs = {}\n        for attrname, attrvalue in attrs.iteritems():\n            if getattr(attrvalue, \'is_hook\', 0):\n                newattrs[\'__%s__\' % attrname] = attrvalue\n            else:\n                newattrs[attrname] = attrvalue\n\n        return super(MyType, mcls).__new__(mcls, name, bases, newattrs)\n\n    def __init__(self, name, bases, attrs):\n        super(MyType, self).__init__(name, bases, attrs)\n\n        # classregistry.register(self, self.interfaces)\n        print "Would register class %s now." % self\n\n    def __add__(self, other):\n        class AutoClass(self, other):\n            pass\n        return AutoClass\n        # Alternatively, to autogenerate the classname as well as the class:\n        # return type(self.__name__ + other.__name__, (self, other), {})\n\n    def unregister(self):\n        # classregistry.unregister(self)\n        print "Would unregister class %s now." % self\n\nclass MyObject:\n    __metaclass__ = MyType\n\n\nclass NoneSample(MyObject):\n    pass\n\n# Will print "NoneType None"\nprint type(NoneSample), repr(NoneSample)\n\nclass Example(MyObject):\n    def __init__(self, value):\n        self.value = value\n    @make_hook\n    def add(self, other):\n        return self.__class__(self.value + other.value)\n\n# Will unregister the class\nExample.unregister()\n\ninst = Example(10)\n# Will fail with an AttributeError\n#inst.unregister()\n\nprint inst + inst\nclass Sibling(MyObject):\n    pass\n\nExampleSibling = Example + Sibling\n# ExampleSibling is now a subclass of both Example and Sibling (with no\n# content of its own) although it will believe it\'s called \'AutoClass\'\nprint ExampleSibling\nprint ExampleSibling.__mro__\n</code></pre>\n'}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Attribution&']}, {'cell_type': 'markdown', 'metadata': {}, 'source': ["Thank you to [e-satis](https://stackoverflow.com/users/9951) for providing this answer to [Thomas Wouters](https://stackoverflow.com/users/17624)'s question on [Stack Overflow](https://stackoverflow.com/). "]}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['You can check out the link to the original question [here](https://stackoverflow.com/questions/100003).']}], 'metadata': {'kernelspec': {'display_name': 'Python 3', 'language': 'python', 'name': 'python3'}, 'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3}, 'file_extension': '.py', 'mimetype': 'text/x-python', 'name': 'python', 'nbconvert_exporter': 'python', 'pygments_lexer': 'ipython3', 'version': '3.7.0'}}, 'nbformat': 4, 'nbformat_minor': 2}
100210.ipynb {'cells': [{'cell_type': 'markdown', 'metadata': {}, 'source': ['---\n', 'title: "What is the standard way to add N seconds to datetime.time in Python?"\n', 'description: ""\n', 'tags: "python, datetime, time, math"\n', 'URL: https://stackoverflow.com/questions/100210\n', 'Licence: \n', 'Creator: \n', 'Meta: ""\n', '\n', '---']}, {'cell_type': 'markdown', 'metadata': {}, 'source': [' <div>\n    \t<img src="./coco.png" style="float: left;height: 55px">\n    \t<div style="height: 150px;text-align: center; padding-top:5px">\n        <h1>\n      \tWhat is the standard way to add N seconds to datetime.time in Python?\n        </h1>\n        <p></p>\n    \t</div>\n\t\t</div> ']}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Question&']}, {'cell_type': 'markdown', 'metadata': {}, 'source': '<p>Given a <code>datetime.time</code> value in Python, is there a standard way to add an integer number of seconds to it, so that <code>11:34:59</code> + 3 = <code>11:35:02</code>, for example?</p>\n\n<p>These obvious ideas don\'t work:</p>\n\n<pre><code>&gt;&gt;&gt; datetime.time(11, 34, 59) + 3\nTypeError: unsupported operand type(s) for +: \'datetime.time\' and \'int\'\n&gt;&gt;&gt; datetime.time(11, 34, 59) + datetime.timedelta(0, 3)\nTypeError: unsupported operand type(s) for +: \'datetime.time\' and \'datetime.timedelta\'\n&gt;&gt;&gt; datetime.time(11, 34, 59) + datetime.time(0, 0, 3)\nTypeError: unsupported operand type(s) for +: \'datetime.time\' and \'datetime.time\'\n</code></pre>\n\n<p>In the end I have written functions like this:</p>\n\n<pre><code>def add_secs_to_time(timeval, secs_to_add):\n    secs = timeval.hour * 3600 + timeval.minute * 60 + timeval.second\n    secs += secs_to_add\n    return datetime.time(secs // 3600, (secs % 3600) // 60, secs % 60)\n</code></pre>\n\n<p>I can\'t help thinking that I\'m missing an easier way to do this though.</p>\n\n<h3>Related</h3>\n\n<ul>\n<li><a href="https://stackoverflow.com/questions/656297/python-time-timedelta-equivalent">python time + timedelta equivalent</a></li>\n</ul>\n'}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Answer&']}, {'cell_type': 'markdown', 'metadata': {}, 'source': "<p>You can use full <code>datetime</code> variables with <code>timedelta</code>, and by providing a dummy date then using <code>time</code> to just get the time value.</p>\n\n<p>For example:</p>\n\n<pre><code>import datetime\na = datetime.datetime(100,1,1,11,34,59)\nb = a + datetime.timedelta(0,3) # days, seconds, then other fields.\nprint a.time()\nprint b.time()\n</code></pre>\n\n<p>results in the two values, three seconds apart:</p>\n\n<pre><code>11:34:59\n11:35:02\n</code></pre>\n\n<p>You could also opt for the more readable</p>\n\n<pre><code>b = a + datetime.timedelta(seconds=3)\n</code></pre>\n\n<p>if you're so inclined.</p>\n\n<hr>\n\n<p>If you're after a function that can do this, you can look into using <code>addSecs</code> below:</p>\n\n<pre><code>import datetime\n\ndef addSecs(tm, secs):\n    fulldate = datetime.datetime(100, 1, 1, tm.hour, tm.minute, tm.second)\n    fulldate = fulldate + datetime.timedelta(seconds=secs)\n    return fulldate.time()\n\na = datetime.datetime.now().time()\nb = addSecs(a, 300)\nprint a\nprint b\n</code></pre>\n\n<p>This outputs:</p>\n\n<pre><code> 09:11:55.775695\n 09:16:55\n</code></pre>\n"}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Attribution&']}, {'cell_type': 'markdown', 'metadata': {}, 'source': ["Thank you to [Paul Stephenson](https://stackoverflow.com/users/5536) for providing this answer to [paxdiablo](https://stackoverflow.com/users/14860)'s question on [Stack Overflow](https://stackoverflow.com/). "]}, {'cell_type': 'markdown', 'metadata': {}, 'source': ['You can check out the link to the original question [here](https://stackoverflow.com/questions/100210).']}], 'metadata': {'kernelspec': {'display_name': 'Python 3', 'language': 'python', 'name': 'python3'}, 'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3}, 'file_extension': '.py', 'mimetype': 'text/x-python', 'name': 'python', 'nbconvert_exporter': 'python', 'pygments_lexer': 'ipython3', 'version': '3.7.0'}}, 'nbformat': 4, 'nbformat_minor': 2}

In [5]:
test = b'{"cells": [{"cell_type": "markdown", "metadata": {}, "source": ["---\\n", "title: \\"Access Rows of a DataFrame By Index Label (loc)\\"\\n", "description: \\"The loc attribute of a pandas DataFrame lets you access rows by the index label. The result is a Series object with the DataFrame\'s column names mapped to the row index labels.\\"\\n", "tags: Pandas\\n", "URL: https://github.com/ageron/handson-ml\\n", "Licence: Apache License 2.0\\n", "Creator: \\n", "Meta: \\"\\"\\n", "\\n", "---"]}, {"cell_type": "markdown", "metadata": {}, "source": [" <div>\\n    \\t<img src=\\"./coco.png\\" style=\\"float: left;height: 55px\\">\\n    \\t<div style=\\"height: 150px;text-align: center; padding-top:5px\\">\\n        <h1>\\n      \\tAccess Rows of a DataFrame By Index Label (loc)\\n        </h1>\\n        <p>The loc attribute of a pandas DataFrame lets you access rows by the index label. The result is a Series object with the DataFrame\'s column names mapped to the row index labels.</p>\\n    \\t</div>\\n\\t\\t</div> "]}, {"cell_type": "markdown", "metadata": {}, "source": [" <div style=\\"height:40px\\">\\n\\t\\t<div style=\\"width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;\\">\\n    \\t<span style=\\"background:#fff; padding:0 10px; font-size:25px; font-family: \'Open Sans\', sans-serif;\\">\\n        Key Code\\n    \\t</span>\\n\\t\\t</div>\\n\\t\\t</div>\\n\\t\\t\\t"]}, {"cell_type": "code", "execution_count": null, "metadata": {}, "outputs": [], "source": ["import pandas as pd"]}, {"cell_type": "code", "execution_count": null, "metadata": {}, "outputs": [], "source": ["# single label for a row => Series\\n", "df.loc[\'row_label\']"]}, {"cell_type": "code", "execution_count": null, "metadata": {}, "outputs": [], "source": ["# list of labels for many rows => DataFrame\\n", "df.loc[[\'row_1\', \'row_2\', \'...\']]"]}, {"cell_type": "markdown", "metadata": {}, "source": [" <div style=\\"height:40px\\">\\n\\t\\t<div style=\\"width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;\\">\\n    \\t<span style=\\"background:#fff; padding:0 10px; font-size:25px; font-family: \'Open Sans\', sans-serif;\\">\\n        Example\\n    \\t</span>\\n\\t\\t</div>\\n\\t\\t</div>\\n\\t\\t\\t"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Create example DataFrame"]}, {"cell_type": "code", "execution_count": 36, "metadata": {}, "outputs": [{"data": {"text/html": ["<div>\\n", "<style scoped>\\n", "    .dataframe tbody tr th:only-of-type {\\n", "        vertical-align: middle;\\n", "    }\\n", "\\n", "    .dataframe tbody tr th {\\n", "        vertical-align: top;\\n", "    }\\n", "\\n", "    .dataframe thead th {\\n", "        text-align: right;\\n", "    }\\n", "</style>\\n", "<table border=\\"1\\" class=\\"dataframe\\">\\n", "  <thead>\\n", "    <tr style=\\"text-align: right;\\">\\n", "      <th></th>\\n", "      <th>weight</th>\\n", "      <th>birthyear</th>\\n", "      <th>children</th>\\n", "      <th>hobby</th>\\n", "    </tr>\\n", "  </thead>\\n", "  <tbody>\\n", "    <tr>\\n", "      <th>alice</th>\\n", "      <td>68</td>\\n", "      <td>1985</td>\\n", "      <td>NaN</td>\\n", "      <td>Biking</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>bob</th>\\n", "      <td>83</td>\\n", "      <td>1984</td>\\n", "      <td>3.0</td>\\n", "      <td>Dancing</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>charles</th>\\n", "      <td>112</td>\\n", "      <td>1992</td>\\n", "      <td>0.0</td>\\n", "      <td>NaN</td>\\n", "    </tr>\\n", "  </tbody>\\n", "</table>\\n", "</div>"], "text/plain": ["         weight  birthyear  children    hobby\\n", "alice        68       1985       NaN   Biking\\n", "bob          83       1984       3.0  Dancing\\n", "charles     112       1992       0.0      NaN"]}, "execution_count": 36, "metadata": {}, "output_type": "execute_result"}], "source": ["people_dict = {\\n", "    \\"weight\\": [68, 83, 112],\\n", "    \\"birthyear\\": [1985, 1984, 1992],\\n", "    \\"children\\": [np.nan, 3, 0],\\n", "    \\"hobby\\": [\\"Biking\\", \\"Dancing\\", np.nan],\\n", "}\\n", "people = pd.DataFrame(people_dict, index=[\\"alice\\", \\"bob\\", \\"charles\\"])\\n", "people"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Get one row"]}, {"cell_type": "code", "execution_count": 38, "metadata": {}, "outputs": [{"data": {"text/plain": ["weight           68\\n", "birthyear      1985\\n", "children        NaN\\n", "hobby        Biking\\n", "Name: alice, dtype: object"]}, "execution_count": 38, "metadata": {}, "output_type": "execute_result"}], "source": ["people.loc[\'alice\']"]}, {"cell_type": "markdown", "metadata": {}, "source": ["## Get multiple rows"]}, {"cell_type": "code", "execution_count": 39, "metadata": {"scrolled": true}, "outputs": [{"data": {"text/html": ["<div>\\n", "<style scoped>\\n", "    .dataframe tbody tr th:only-of-type {\\n", "        vertical-align: middle;\\n", "    }\\n", "\\n", "    .dataframe tbody tr th {\\n", "        vertical-align: top;\\n", "    }\\n", "\\n", "    .dataframe thead th {\\n", "        text-align: right;\\n", "    }\\n", "</style>\\n", "<table border=\\"1\\" class=\\"dataframe\\">\\n", "  <thead>\\n", "    <tr style=\\"text-align: right;\\">\\n", "      <th></th>\\n", "      <th>weight</th>\\n", "      <th>birthyear</th>\\n", "      <th>children</th>\\n", "      <th>hobby</th>\\n", "    </tr>\\n", "  </thead>\\n", "  <tbody>\\n", "    <tr>\\n", "      <th>bob</th>\\n", "      <td>83</td>\\n", "      <td>1984</td>\\n", "      <td>3.0</td>\\n", "      <td>Dancing</td>\\n", "    </tr>\\n", "    <tr>\\n", "      <th>charles</th>\\n", "      <td>112</td>\\n", "      <td>1992</td>\\n", "      <td>0.0</td>\\n", "      <td>NaN</td>\\n", "    </tr>\\n", "  </tbody>\\n", "</table>\\n", "</div>"], "text/plain": ["         weight  birthyear  children    hobby\\n", "bob          83       1984       3.0  Dancing\\n", "charles     112       1992       0.0      NaN"]}, "execution_count": 39, "metadata": {}, "output_type": "execute_result"}], "source": ["people.loc[[\'bob\', \'charles\']]"]}], "metadata": {"kernelspec": {"display_name": "Python 3", "language": "python", "name": "python3"}, "language_info": {"codemirror_mode": {"name": "ipython", "version": 3}, "file_extension": ".py", "mimetype": "text/x-python", "name": "python", "nbconvert_exporter": "python", "pygments_lexer": "ipython3", "version": "3.6.7"}}, "nbformat": 4, "nbformat_minor": 2}'

In [6]:
import json
json.loads(test)

{'cells': [{'cell_type': 'markdown',
   'metadata': {},
   'source': ['---\n',
    'title: "Access Rows of a DataFrame By Index Label (loc)"\n',
    'description: "The loc attribute of a pandas DataFrame lets you access rows by the index label. The result is a Series object with the DataFrame\'s column names mapped to the row index labels."\n',
    'tags: Pandas\n',
    'URL: https://github.com/ageron/handson-ml\n',
    'Licence: Apache License 2.0\n',
    'Creator: \n',
    'Meta: ""\n',
    '\n',
    '---']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': [' <div>\n    \t<img src="./coco.png" style="float: left;height: 55px">\n    \t<div style="height: 150px;text-align: center; padding-top:5px">\n        <h1>\n      \tAccess Rows of a DataFrame By Index Label (loc)\n        </h1>\n        <p>The loc attribute of a pandas DataFrame lets you access rows by the index label. The result is a Series object with the DataFrame\'s column names mapped to the row index labels.</p>\n    \t</div>\n\t\t</div> ']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': [' <div style="height:40px">\n\t\t<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">\n    \t<span style="background:#fff; padding:0 10px; font-size:25px; font-family: \'Open Sans\', sans-serif;">\n        Key Code\n    \t</span>\n\t\t</div>\n\t\t</div>\n\t\t\t']},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {},
   'outputs': [],
   'source': ['import pandas as pd']},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {},
   'outputs': [],
   'source': ['# single label for a row => Series\n', "df.loc['row_label']"]},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {},
   'outputs': [],
   'source': ['# list of labels for many rows => DataFrame\n',
    "df.loc[['row_1', 'row_2', '...']]"]},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': [' <div style="height:40px">\n\t\t<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">\n    \t<span style="background:#fff; padding:0 10px; font-size:25px; font-family: \'Open Sans\', sans-serif;">\n        Example\n    \t</span>\n\t\t</div>\n\t\t</div>\n\t\t\t']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Create example DataFrame']},
  {'cell_type': 'code',
   'execution_count': 36,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>weight</th>\n',
       '      <th>birthyear</th>\n',
       '      <th>children</th>\n',
       '      <th>hobby</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>alice</th>\n',
       '      <td>68</td>\n',
       '      <td>1985</td>\n',
       '      <td>NaN</td>\n',
       '      <td>Biking</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>bob</th>\n',
       '      <td>83</td>\n',
       '      <td>1984</td>\n',
       '      <td>3.0</td>\n',
       '      <td>Dancing</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>charles</th>\n',
       '      <td>112</td>\n',
       '      <td>1992</td>\n',
       '      <td>0.0</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['         weight  birthyear  children    hobby\n',
       'alice        68       1985       NaN   Biking\n',
       'bob          83       1984       3.0  Dancing\n',
       'charles     112       1992       0.0      NaN']},
     'execution_count': 36,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['people_dict = {\n',
    '    "weight": [68, 83, 112],\n',
    '    "birthyear": [1985, 1984, 1992],\n',
    '    "children": [np.nan, 3, 0],\n',
    '    "hobby": ["Biking", "Dancing", np.nan],\n',
    '}\n',
    'people = pd.DataFrame(people_dict, index=["alice", "bob", "charles"])\n',
    'people']},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['## Get one row']},
  {'cell_type': 'code',
   'execution_count': 38,
   'metadata': {},
   'outputs': [{'data': {'text/plain': ['weight           68\n',
       'birthyear      1985\n',
       'children        NaN\n',
       'hobby        Biking\n',
       'Name: alice, dtype: object']},
     'execution_count': 38,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["people.loc['alice']"]},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Get multiple rows']},
  {'cell_type': 'code',
   'execution_count': 39,
   'metadata': {'scrolled': True},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>weight</th>\n',
       '      <th>birthyear</th>\n',
       '      <th>children</th>\n',
       '      <th>hobby</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>bob</th>\n',
       '      <td>83</td>\n',
       '      <td>1984</td>\n',
       '      <td>3.0</td>\n',
       '      <td>Dancing</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>charles</th>\n',
       '      <td>112</td>\n',
       '      <td>1992</td>\n',
       '      <td>0.0</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['         weight  birthyear  children    hobby\n',
       'bob          83       1984       3.0  Dancing\n',
       'charles     112       1992       0.0      NaN']},
     'execution_count': 39,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["people.loc[['bob', 'charles']]"]}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3},
   'file_extension': '.py',
   'mimetype': 'text/x-python',
   'name': 'python',
   'nbconvert_exporter': 'python',
   'pygments_lexer': 'ipython3',
   'version': '3.6.7'}},
 'nbformat': 4,
 'nbformat_minor': 2}