In [2]:
from math import sqrt
sqrt(81)

9.0

In [12]:
a =['title: "Bullets and Lists in Markdown"\n', 'description: "How to add bullets and numbered lists in markdown"\n']

In [14]:
data = ()
for item in a:
    index = item.find(':')
    item = item.strip().replace('\"', '')
    data += (item[index+2:],)
data

('Bullets and Lists in Markdown',
 'How to add bullets and numbered lists in markdown')

<div>
    <img src="./coco.png" style="float: left;height: 55px">
    <div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      Importing JSON into Python
        </h1>
        <p>Train a sequence to sequence (seq2seq) model for Spanish to English translation using tf.keras and eager execution.</p>
    </div>
</div>

In [45]:
import pandas as pd
import numpy as np
import random
import time

In [46]:
def strTimeProp(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    start_time = time.mktime(time.strptime(start, format))
    end_time = time.mktime(time.strptime(end, format))

    ptime = start_time + prop * (end_time - start_time)

    return time.strftime(format, time.localtime(ptime))


def randomDate(start, end, prop):
    return strTimeProp(start, end, '%m/%d/%Y', prop)

In [48]:
df = pd.read_json('brick_list.json')
df['claps'] = np.random.randint(1, 9999, len(df))
rand_dates = [randomDate("6/7/2018", "6/7/2019", random.random()) for _ in df.index]
df['date'] = rand_dates
df.head()
#df.to_json('test.json', orient = 'records')

,access_alpha,access_beta,access_internal,access_live,code,description,tags,title,uid,web_page,claps,date
0,False,False,True,False,"{'cells': [{'cell_type': 'markdown', 'metadata...",Pandas select rows containing values,[],Pandas select rows containing values,6956ef5f-0cb7-4c8a-be53-4ff53c0c868a,NaN,386,08/10/2018
1,False,False,True,False,"{'cells': [{'cell_type': 'markdown', 'metadata...",using the crosstabs method pandas,[],Pandas Crosstabs,c6e28efe-fbc8-47b0-adba-a4b50ae01359,NaN,2059,03/15/2019
2,False,False,True,False,"{'cells': [{'cell_type': 'markdown', 'metadata...",pandas select rows when the column has certain...,[],pandas select rows when the column has certain...,534abfa2-aa64-4ec5-9600-17b8a1969b58,NaN,7169,11/10/2018
3,False,False,True,False,"{'cells': [{'cell_type': 'markdown', 'metadata...",Turning a column of prices into floats in pandas,[],Converting Prices to Floats in Pandas,c3be62b0-6ebf-4fdb-86fc-97fae3f17d1a,NaN,1341,02/08/2019
4,False,False,True,False,"{'cells': [{'cell_type': 'markdown', 'metadata...",find the unique values in a column pandas,[],Pandas List the Unique Values in a Column,a57e44d4-17fd-4eac-8fcd-092194b6d406,NaN,7498,03/15/2019

In [7]:
class Test():
    
    def hey(self):
        print("hey")
    
    def sup(self):
        self.hey()

In [8]:
t = Test()
t.hey()
t.sup()

hey
hey