---
title: "Adding Or Substracting Time"
description: "How to add or substract time in an SQL database."
tags: postgresql, dates
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Adding Or Substracting Time
        </h1>
        <p>How to add or substract time in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table

```sql
-- Create table called dead_adventurers
CREATE TABLE dead_adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255),
    -- date variable
    died date
)
```

## Insert Rows

```sql
-- Insert into the table dead_adventurers
INSERT INTO dead_adventurers (name, age, race, weapon, died)
VALUES ('Fjoak Doom-Wife', 28, 'Human', 'Axe', '09-Nov-2017'),
       ('Alooneric Cortte', 29, 'Elf', 'Bow', '10-JAN-2017'),
       ('Piperel Ramsay', 35, 'Elf', 'Sword', '12-APR-2016'),
       ('Casimir Yardley', 14, 'Elf', 'Magic', '06-MAY-2017')
```

## Create New Column Three Days Later 

```sql
-- Create a column called three_days_laters that takes the value
-- of died and adds three days to it
SELECT died + INTERVAL '3 day' AS three_days_later
-- From adventurers table
FROM dead_adventurers
```
<table border="1" style="border-collapse:collapse">
<tr><th>three_days_later</th></tr>
<tr><td>2017-11-12 00:00:00.000000</td></tr>
<tr><td>2017-01-13 00:00:00.000000</td></tr>
<tr><td>2016-04-15 00:00:00.000000</td></tr>
<tr><td>2017-05-09 00:00:00.000000</td></tr></table>