---
title: "Change Values"
description: "How to change values in a table in an SQL database."
tags: postgresql, add_delete_change
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Change Values
        </h1>
        <p>How to change values in a table in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table Of Elves

```sql
-- Create table called elves
CREATE TABLE elves (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    alive varchar(255)
)
```

## Insert Rows Into Elf Table

```sql
INSERT INTO elves (name, age, race, alive)
VALUES ('Dallar Woodfoot', 25, 'Elf', 'Yes'),
       ('Cordin Garner', 29, 'Elf', 'Yes'),
       ('Keat Knigh', 24, 'Elf', 'Yes'),
       ('Colbat Nalor', 124, 'Elf', 'Yes')
```

## Update Row Values

```sql
-- Update the elves table
UPDATE elves
-- To set age to the current age plus 1
SET age = age + 1
```

## View Elves Table

```sql
-- Retrieve all rows from the view Elf
SELECT * FROM elves
```
<table border="1" style="border-collapse:collapse">
<tr><th>name</th><th>age</th><th>race</th><th>alive</th></tr>
<tr><td>Dallar Woodfoot</td><td>26</td><td>Elf</td><td>Yes</td></tr>
<tr><td>Cordin Garner</td><td>30</td><td>Elf</td><td>Yes</td></tr>
<tr><td>Keat Knigh</td><td>25</td><td>Elf</td><td>Yes</td></tr>
<tr><td>Colbat Nalor</td><td>125</td><td>Elf</td><td>Yes</td></tr></table>