---
title: "Convert String to Float in Pandas"
description: "How to change the data type of a column from a string to float in pandas"
tags: Pandas, Data Cleaning / Preprocessing, Text Processing
URL: 
Licence: 
Creator: 
Meta: ""

---

# Key Code&

In [ ]:
df['column'] = df['column'].astype(float)

***

# Example&

## Load the module

In [2]:
import pandas as pd

## Load example data into a DataFrame

In [4]:
df = pd.DataFrame({'int_rate':['10.65','7.90']})
df

  int_rate
0    10.65
1     7.90

## Use the astype method to convert the 'int_rate' column

In [6]:
df['int_rate'] = df['int_rate'].astype(float)
print(df.dtypes)

int_rate    float64
dtype: object