---
title: "Convert a Column of Prices as Strings to Floats in Pandas"
description: "Turning a column of prices into floats in pandas"
tags: Pandas, Data Cleaning / Preprocessing, Regex, Text Processing
URL:
Licence:

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Convert a Column of Prices as Strings to Floats in Pandas
        </h1>
        <p>Turning a column of prices into floats in pandas</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [33]:
# use regular expressions
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

In [32]:
# use the replace method for strings
df['price'] = df['price'].apply(lambda x: str(x).replace('$','')).apply(lambda x: str(x).replace(',','')).astype(float)

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Preliminaries

In [28]:
import pandas as pd
import re # optional (only used for 2nd example)

## Create example dataframe with a column of prices

In [29]:
raw_data = {'price': ['$7.90', '$1.23', '$2.16', '$1,298.00', '$1,000,000.00']}
df = pd.DataFrame(raw_data, columns = ['price'])
df

           price
0          $7.90
1          $1.23
2          $2.16
3      $1,298.00
4  $1,000,000.00

## Convert to float using regular expressions

In [31]:
df['price'].replace('[\$,]', '', regex=True).astype(float)

0          7.90
1          1.23
2          2.16
3       1298.00
4    1000000.00
Name: price, dtype: float64

## Convert to float using replace method for strings

In [30]:
df['price'] = df['price'].apply(lambda x: str(x).replace('$','')).apply(lambda x: str(x).replace(',','')).astype(float)
df

        price
0        7.90
1        1.23
2        2.16
3     1298.00
4  1000000.00