---
title: "Find Values In One Table And Not Another"
description: "How to find all unique values that are in two table in an SQL database."
tags: postgresql, merging_and_joining
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Find Values In One Table And Not Another
        </h1>
        <p>How to find all unique values that are in two table in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table Of Elves

```sql
-- Create table called elves
CREATE TABLE elves (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Create Table Of Dwarves

```sql
-- Create table called dwarves
CREATE TABLE dwarves (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows Into Elf Table

```sql
INSERT INTO elves (name, age, race, weapon)
VALUES ('Dallar Woodfoot', 25, 'Elf', 'Bow'),
       ('Cordin Garner', 29, 'Elf', 'Bow'),
       ('Keat Knigh', 24, 'Elf', 'Sword'),
       ('Colbat Nalor', 124, 'Elf', 'Magic')
```

## Insert Rows Into Dwarf Table

```sql
INSERT INTO dwarves (name, age, race, weapon)
VALUES ('Kalog', 23, 'Dwarf', 'Axe'),
       ('Dranar', 145, 'Dwarf', 'Bow'),
       ('Bratar', 12, 'Dwarf', 'Axe'),
       ('Dragga', 23, 'Dwarf', 'Axe')
```

## Find Unique Values In Elves That Aren't In Dwarves

```sql
-- Retrieve all weapons from elves
SELECT weapon FROM elves
-- Find the unique values that are not in...
EXCEPT
-- Retrieve all weapons from dwarves
SELECT weapon FROM dwarves
```
<table border="1" style="border-collapse:collapse">
<tr><th>weapon</th></tr>
<tr><td>Sword</td></tr>
<tr><td>Magic</td></tr></table>