---
title: "Groupby: Function Providing Groups"
description: "Instead of splitting a DataFrame by one column with groupby, you can pass in a function that will input the index value and output the group."
tags: Pandas
URL: https://github.com/jakevdp/PythonDataScienceHandbook/
Licence: MIT for code, Text is copyrighted
Creator: 
Meta: "groupby by output from function"

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Groupby: Function Providing Groups
        </h1>
        <p>Instead of splitting a DataFrame by one column with groupby, you can pass in a function that will input the index value and output the group.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [191]:
import pandas as pd

In [ ]:
df.groupby(your_function).mean()

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Create example data

In [222]:
import numpy as np
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

## Using a function to output groups

In [225]:
df2 = df.set_index('key')
df2.groupby(str.lower).mean()

   data1  data2
a    1.5    4.0
b    2.5    3.5
c    3.5    6.0