---
title: "Interpolate Missing Values"
description: "Interpolate missing values (NaNs). Note: DataFrames support only linear interpolation."
tags: Pandas, Data Cleaning / Preprocessing
URL: https://github.com/ageron/handson-ml
Licence: Apache License 2.0
Creator: 
Meta: "Handling Missing Data NaNs"

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Interpolate Missing Values
        </h1>
        <p>Interpolate missing values (NaNs). Note: DataFrames support only linear interpolation.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
import pandas as pd

In [ ]:
# setting inplace to True changes the orginal df
df['column'].interpolate(inplace = True)

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Create example DataFrame

In [49]:
import numpy as np
people_dict = {
    "weight": [68, 83, 112],
    "height": [172, 181, 185],
    "birthyear": [1985, 1984, 1992],
    "children": [np.nan, 3, np.nan],
    "hobby": ["Biking", "Dancing", "Snowboarding"],
    "order_surveyed": [11, np.nan, 13]
}
people = pd.DataFrame(people_dict, index=["alice", "bob", "charles"])
people

         weight  height  birthyear  children         hobby  order_surveyed
alice        68     172       1985       NaN        Biking            11.0
bob          83     181       1984       3.0       Dancing             NaN
charles     112     185       1992       NaN  Snowboarding            13.0

## Interpolate the missing value

In [50]:
people['order_surveyed'].interpolate(inplace = True)
people

         weight  height  birthyear  children         hobby  order_surveyed
alice        68     172       1985       NaN        Biking            11.0
bob          83     181       1984       3.0       Dancing            12.0
charles     112     185       1992       NaN  Snowboarding            13.0