---
title: "Left Join Tables"
description: "How to left join tables in an SQL database."
tags: postgresql, merging_and_joining
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Left Join Tables
        </h1>
        <p>How to left join tables in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table Of Adventurers

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255)
)
```

## Create Table Of Adventurer's Equipment

```sql
-- Create table called equipment
CREATE TABLE equipment (
    -- string variable
    name varchar(255),
    -- string variable
    clothes varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows Into Adventurers Table

```sql
INSERT INTO adventurers (name, age, race)
VALUES ('Dallar Woodfoot', 25, 'Elf'),
       ('Cordin Garner', 29, 'Elf'),
       ('Keat Knigh', 24, 'Dwarf'),
       ('Colbat Nalor', 124, 'Dwarf')
```

## Insert Rows Into Equipment Table
```sql
INSERT INTO equipment (name, clothes, weapon)
VALUES ('Dallar Woodfoot', 'Leather Armor', 'Axe'),
       ('Keat Knigh', 'Robe', 'Bow'),
       ('Tasar Keynelis', 'Tunic', 'Axe'),
       ('Sataleeti Iarroris','Chainmail', 'Axe')
```

## Left Join Tables

```sql
-- Return the name of people from the adventurers table, age, race, clothes, and weapon
SELECT adventurers.name, age, race, clothes, weapon FROM adventurers
-- Left join with the equipment table
LEFT OUTER JOIN equipment
    -- Using the name as the merge key contained in both tables
    ON (adventurers.name = equipment.name)
```
<table border="1" style="border-collapse:collapse">
<tr><th>name</th><th>age</th><th>race</th><th>clothes</th><th>weapon</th></tr>
<tr><td>Dallar Woodfoot</td><td>25</td><td>Elf</td><td>Leather Armor</td><td>Axe</td></tr>
<tr><td>Cordin Garner</td><td>29</td><td>Elf</td><td>NULL</td><td>NULL</td></tr>
<tr><td>Keat Knigh</td><td>24</td><td>Dwarf</td><td>Robe</td><td>Bow</td></tr>
<tr><td>Colbat Nalor</td><td>124</td><td>Dwarf</td><td>NULL</td><td>NULL</td></tr></table>