---
title: "Other Ways To Create MultiIndex Objects"
description: "Create pandas multi-index objects by passing a list of lists into the index argument in the DataFrame object constructor. Alternatively, create a multi-index object with a dictionary with appropriate tuples as keys."
tags: Pandas, Lists, Dictionaries
URL: https://github.com/jakevdp/PythonDataScienceHandbook/
Licence: MIT for code, Text is copyrighted
Creator: 
Meta: "multiindex object from dictionary"

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Other Ways To Create MultiIndex Objects
        </h1>
        <p>Create pandas multi-index objects by passing a list of lists into the index argument in the DataFrame object constructor. Alternatively, create a multi-index object with a dictionary with appropriate tuples as keys.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## MultiIndex Object from list of many index arrays

In [120]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.893284  0.477352
  2  0.766773  0.503955
b 1  0.281424  0.118127
  2  0.564244  0.511645

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## MultiIndex Object from dictionary

In [126]:
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64