---
title: "Sum The Column of a DataFrame in Pandas"
description: "sum the column of a dataframe pandas"
tags: Pandas, Data Cleaning / Preprocessing, EDA
URL:
Licence:

---

# Sum the Column of a DataFrame in Pandas

In [ ]:
df['my_column'].sum()

***
## Example

We will get the sum of column 'd'

In [2]:
import pandas as pd
df = pd.DataFrame({'a': [1,2,3], 'b': [2,3,4], 'c':['dd','ee','ff'], 'd':[5,9,1]})
df

   a  b   c  d
0  1  2  dd  5
1  2  3  ee  9
2  3  4  ff  1

In [3]:
df['d'].sum()

15