---
title: "Select Rows With Multiple Filters"
description: ""
tags: python, data_wrangling
URL: https://github.com/chrisalbon/notes
Licence: 
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 75px;text-align: center; padding-top:5px">
        <h1>
      	Select Rows With Multiple Filters
        </h1>
        <p></p>
    	</div>
		</div>

In [1]:
# import pandas as pd
import pandas as pd

In [2]:
# Create an example dataframe
data = {'name': ['A', 'B', 'C', 'D', 'E'], 
        'score': [1,2,3,4,5]}
df = pd.DataFrame(data)
df

  name  score
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

In [3]:
# Select rows of the dataframe where df.score is greater than 1 and less and 5
df[(df['score'] > 1) & (df['score'] < 5)]

  name  score
1    B      2
2    C      3
3    D      4