---
title: "Remove a Given Character from a String"
description: "removing a character from a string"
tags: Data Cleaning / Preprocessing, Python Fundamentals, Regex, Pandas
URL: 
Licence:

---

# Remove a Given Character from a String

Removing a '$' from a single string

In [ ]:
'$123.45'.replace('$','')

Removing a '$' from a DataFrame column

In [ ]:
df['a'] = df['a'].str.replace('$','')

***
## Example 1

Removing a '$' from a single string

In [1]:
old_str = '$674'
new_str = old_str.replace('$','')
new_str

'674'

 ---

## Example 2

Removing a '$' from a DataFrame column

In [3]:
import pandas as pd
df = pd.DataFrame({'a': ['$12','$22','$13'], 'b': [2,3,4], 'c':['dd','ee','ff'], 'd':[5,9,1]})
df

     a  b   c  d
0  $12  2  dd  5
1  $22  3  ee  9
2  $13  4  ff  1

In [10]:
# Note the use of 'str'
df['a'].str.replace('$','')

0    12
1    22
2    13
Name: a, dtype: object

In [13]:
# This can then be reassigned to column 'a'
df['a'] = df['a'].str.replace('$','')
df

    a  b   c  d
0  12  2  dd  5
1  22  3  ee  9
2  13  4  ff  1