---
title: "Select Highest Value In Each Group"
description: "How to selected the highest value in each group in an SQL database."
tags: postgresql: basics
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Select Highest Value In Each Group
        </h1>
        <p>How to selected the highest value in each group in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table Of Adventurers

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255)
)
```

## Insert Rows

```sql
-- Insert into the table adventurers
INSERT INTO adventurers (name, age, race)
VALUES ('Fjoak Doom-Wife', 28, 'Human'),
       ('Alooneric Cortte', 29, 'Human'),
       ('Piperel Ramsay', 35, 'Elf'),
       ('Casimir Yardley', 14, 'Elf')
```

## Select The Oldest Adventurer In Each Race

```sql
-- Get the name, race, age of the first row in each group, 
-- when grouped by race
SELECT DISTINCT ON (race) name, race, age FROM adventurers
-- Order by race, then age, in descending order 
-- (so the oldest person is the top of each group)
ORDER BY race, age DESC
```
<table border="1" style="border-collapse:collapse">
<tr><th>name</th><th>race</th><th>age</th></tr>
<tr><td>Piperel Ramsay</td><td>Elf</td><td>35</td></tr>
<tr><td>Alooneric Cortte</td><td>Human</td><td>29</td></tr></table>