---
title: "Select Rows Containing Certain Values in a Pandas DataFrame"
description: "how to select the rows containing any one of a list of certain values in a pandas dataframe using the isin method and dataframe slicing"
tags: Pandas, EDA
URL:
Licence:

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Select Rows Containing Certain Values in a Pandas DataFrame
        </h1>
        <p>how to select the rows containing any one of a list of certain values in a pandas dataframe using the isin method and dataframe slicing</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
# to get select all rows when 'my_column' has any values in 'my_list'
my_list = ['val1', 'val2','val3']
df[df.my_column.isin(my_list)]

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Preliminaries

In [1]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

## Create an example dataframe

In [2]:
# Create an example dataframe
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  year  reports
Cochice     Jason  2012        4
Pima        Molly  2012       24
Santa Cruz   Tina  2013       31
Maricopa     Jake  2014        2
Yuma          Amy  2014        3

## Grab rows based on column values

In [3]:
value_list = ['Tina', 'Molly', 'Jason']

In [4]:
# Grab DataFrame rows where column has certain values
df[df.name.isin(value_list)]

             name  year  reports
Cochice     Jason  2012        4
Pima        Molly  2012       24
Santa Cruz   Tina  2013       31

In [5]:
# Grab DataFrame rows where column doesn't have certain values
df[~df.name.isin(value_list)]

          name  year  reports
Maricopa  Jake  2014        2
Yuma       Amy  2014        3