---
title: "Test If Rows Exist In Subquery"
description: "How to test if there are any rows in a subquery in a table in an SQL database."
tags: postgresql: basics
URL: https://github.com/ActiveState/code
Creator: 
Meta: 

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Test If Rows Exist In Subquery
        </h1>
        <p>How to test if there are any rows in a subquery in a table in an SQL database.</p>
    	</div>
		</div>

 <div style="height:40px">
<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
Example
</span>
</div>
</div>

## Create Table

```sql
-- Create table called adventurers
CREATE TABLE adventurers (
    -- string variable
    name varchar(255),
    -- integer variable
    age int,
    -- string variable
    race varchar(255),
    -- string variable
    weapon varchar(255)
)
```

## Insert Rows

```sql
-- Insert into the table adventurers
INSERT INTO adventurers (name, age, race, weapon)
VALUES ('Fjoak Doom-Wife', 28, 'Human', 'Axe'),
       ('Alooneric Cortte', 29, 'Elf', 'Bow'),
       ('Piperel Ramsay', 35, 'Elf', 'Sword'),
       ('Casimir Yardley', 14, 'Elf', 'Magic')
```

## Test If Rows Exist In Subquery

```sql
-- Retrieve all the rows in adventurers
SELECT * FROM adventurers
-- Where rows exist in
WHERE EXISTS
-- A subquery that will
(
    -- Select all the names in adventurers
    SELECT name FROM adventurers
    -- Where race is elf
    WHERE race = 'Elf'
)
```
<table border="1" style="border-collapse:collapse">
<tr><th>name</th><th>age</th><th>race</th></tr>
<tr><td>Fjoak Doom-Wife</td><td>28</td><td>Human</td></tr>
<tr><td>Alooneric Cortte</td><td>29</td><td>Elf</td></tr>
<tr><td>Piperel Ramsay</td><td>35</td><td>Elf</td></tr>
<tr><td>Casimir Yardley</td><td>14</td><td>Elf</td></tr></table>

## Test If Rows Do Not Exist In Subquery

```sql
-- Retrieve all the rows in adventurers
SELECT * FROM adventurers
-- Where the name of the adventurer is in
WHERE NOT EXISTS
-- A subquery that will
(
    -- Select all the names in adventurers
    SELECT name FROM adventurers
    -- Where race is dwarf
    WHERE race = 'Dwarf'
)
```
<table border="1" style="border-collapse:collapse">
<tr><th>name</th><th>age</th><th>race</th></tr>
<tr><td>Fjoak Doom-Wife</td><td>28</td><td>Human</td></tr>
<tr><td>Alooneric Cortte</td><td>29</td><td>Elf</td></tr>
<tr><td>Piperel Ramsay</td><td>35</td><td>Elf</td></tr>
<tr><td>Casimir Yardley</td><td>14</td><td>Elf</td></tr></table>