# Convert String to Float in Pandas

In [1]:
df['column'] = df['column'].astype(float)

NameError: name 'df' is not defined

***
## Example

In [20]:
import pandas as pd
df = pd.DataFrame({'int_rate':['10.65','7.90']})
df

  int_rate
0    10.65
1     7.90

In [21]:
df['int_rate'] = df['int_rate'].astype(float)
df.dtypes

int_rate    float64
dtype: object