---
title: "Converting Prices to Floats in Pandas"
description: "Turning a column of prices into floats in pandas"
tags: Pandas, Data Cleaning / Preprocessing, Regex, Text Processing
URL:
Licence:

---

# Converting Prices to Floats in Pandas

In [32]:
# use the replace method for strings
df['price'] = df['price'].apply(lambda x: str(x).replace('$','')).apply(lambda x: str(x).replace(',','')).astype(float)

In [33]:
# use regular expressions
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

---

## Example

### Preliminaries

In [28]:
import pandas as pd
import re # optional (only used for 2nd example)

In [29]:
# create some price data
raw_data = {'price': ['$7.90', '$1.23', '$2.16', '$1,298.00', '$1,000,000.00']}
df = pd.DataFrame(raw_data, columns = ['price'])
df

           price
0          $7.90
1          $1.23
2          $2.16
3      $1,298.00
4  $1,000,000.00

In [30]:
df['price'] = df['price'].apply(lambda x: str(x).replace('$','')).apply(lambda x: str(x).replace(',','')).astype(float)
df

        price
0        7.90
1        1.23
2        2.16
3     1298.00
4  1000000.00

In [31]:
df['price'].replace('[\$,]', '', regex=True).astype(float)

0          7.90
1          1.23
2          2.16
3       1298.00
4    1000000.00
Name: price, dtype: float64