---
title: "Access Rows of a DataFrame By Integer Location (iloc)"
description: "The iloc attribute of a pandas DataFrame lets you access rows by the integer location. The result is a Series object with the DataFrame's column names mapped to the row index labels. You can also get a dataframe from the iloc of multiple rows with slices."
tags: Pandas
URL: https://github.com/ageron/handson-ml
Licence: Apache License 2.0
Creator: 
Meta: ""

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Access Rows of a DataFrame By Integer Location (iloc)
        </h1>
        <p>The iloc attribute of a pandas DataFrame lets you access rows by the integer location. The result is a Series object with the DataFrame's column names mapped to the row index labels. You can also get a dataframe from the iloc of multiple rows with slices.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
import pandas as pd

In [ ]:
# single row from its index number => Series
df.iloc[index]

In [ ]:
# slice or list of indices for many rows => DataFrame
df.iloc[start : end]

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Create example DataFrame

In [36]:
people_dict = {
    "weight": [68, 83, 112],
    "birthyear": [1985, 1984, 1992],
    "children": [np.nan, 3, 0],
    "hobby": ["Biking", "Dancing", np.nan],
}
people = pd.DataFrame(people_dict, index=["alice", "bob", "charles"])
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN

## Get one row

In [40]:
people.iloc[0]

weight           68
birthyear      1985
children        NaN
hobby        Biking
Name: alice, dtype: object

## Get multiple rows

In [42]:
people.iloc[1:3]

         weight  birthyear  children    hobby
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN