---
title: "Change the Data Type of a Column in Pandas"
description: "How to change the data type for all values in a column of a pandas dataframe."
tags: Pandas, Data Cleaning / Preprocessing, Text Processing
URL:
Licence:

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Change the Data Type of a Column in Pandas
        </h1>
        <p>How to change the data type for all values in a column of a pandas dataframe.</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
df["col"] = df["col"].astype(type)

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Preliminaries

In [1]:
import pandas as pd

## Create some example data

In [2]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': ["25", "94", "57", "62", "70"]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  year  reports coverage
Cochice     Jason  2012        4       25
Pima        Molly  2012       24       94
Santa Cruz   Tina  2013       31       57
Maricopa     Jake  2014        2       62
Yuma          Amy  2014        3       70

## Convert the 'coverage' column to int's

In [4]:
# Convert a series to python int
df["coverage"] = df["coverage"].astype(int)
df.dtypes

name        object
year         int64
reports      int64
coverage     int64
dtype: object