---
title: "Pandas Crosstabs"
description: "Using the crosstabs method for a pandas dataframe"
tags: Pandas, Data Cleaning / Preprocessing, EDA
URL: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html
Licence:

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Pandas Crosstabs
        </h1>
        <p>Using the crosstabs method for a pandas dataframe</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
# index => Values to group by in the rows. Could be one or a list/series of many
# columns => Values to group by in the columns. Could be one or a list/series of many
pd.crosstab(index, columns, margins = True, dropna = True)

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Import pandas

In [1]:
import pandas as pd

## Load example data into DataFrame

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['infantry', 'infantry', 'cavalry', 'cavalry', 'infantry', 'infantry', 'cavalry', 'cavalry','infantry', 'infantry', 'cavalry', 'cavalry'], 
        'experience': ['veteran', 'rookie', 'veteran', 'rookie', 'veteran', 'rookie', 'veteran', 'rookie','veteran', 'rookie', 'veteran', 'rookie'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'experience', 'name', 'preTestScore', 'postTestScore'])
df

      regiment   company experience      name  preTestScore  postTestScore
0   Nighthawks  infantry    veteran    Miller             4             25
1   Nighthawks  infantry     rookie  Jacobson            24             94
2   Nighthawks   cavalry    veteran       Ali            31             57
3   Nighthawks   cavalry     rookie    Milner             2             62
4     Dragoons  infantry    veteran     Cooze             3             70
5     Dragoons  infantry     rookie     Jacon             4             25
6     Dragoons   cavalry    veteran    Ryaner            24             94
7     Dragoons   cavalry     rookie      Sone            31             57
8       Scouts  infantry    veteran     Sloan             2             62
9       Scouts  infantry     rookie     Piger             3             70
10      Scouts   cavalry    veteran     Riani             2             62
11      Scouts   cavalry     rookie       Ali             3             70

## Create a crosstab table by company and regiment

Counting the number of observations by regiment and category

In [3]:
pd.crosstab(df.regiment, df.company, margins=True)

company     cavalry  infantry  All
regiment
Dragoons          2         2    4
Nighthawks        2         2    4
Scouts            2         2    4
All               6         6   12

## Create a crosstab of the number of rookie and veteran cavalry and infantry soldiers per regiment

In [4]:
pd.crosstab([df.company, df.experience], df.regiment,  margins=True)

regiment             Dragoons  Nighthawks  Scouts  All
company  experience
cavalry  rookie             1           1       1    3
         veteran            1           1       1    3
infantry rookie             1           1       1    3
         veteran            1           1       1    3
All                         4           4       4   12

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Learn More
    	</span>
		</div>
		</div>

Learn more about other parameters in the documentation here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html