---
title: "Select Rows Containing a Value in a Pandas DataFrame"
description: "How to select the rows containing a particular value in a pandas dataframe by taking a slice of the dataframe and using the map function"
tags: Pandas, EDA
URL:
Licence:

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Select Rows Containing a Value in a Pandas DataFrame
        </h1>
        <p>How to select the rows containing a particular value in a pandas dataframe by taking a slice of the dataframe and using the map function</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
# to select rows containing 'keyword' in column 'my_column'
df[df['my_column'].map(lambda x: 'keyword' in x)]

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Preliminaries

In [12]:
import pandas as pd

## Create an example dataframe

In [16]:
data = {'name': ['Jason', 'Molly'], 
        'country': [['Syria', 'Lebanon'],['Spain', 'Morocco']]}
df = pd.DataFrame(data)
df

    name           country
0  Jason  [Syria, Lebanon]
1  Molly  [Spain, Morocco]

## Select all rows containing 'Syria' in the 'country' column

In [17]:
df[df['country'].map(lambda country: 'Syria' in country)]

    name           country
0  Jason  [Syria, Lebanon]