---
title: "Sum the Values in a Column of a Pandas DataFrame"
description: "how to calculate the sum of numerical values in a particular column a pandas dataframe"
tags: Pandas, Data Cleaning / Preprocessing, EDA
URL:
Licence:

---

 <div>
    	<img src="./coco.png" style="float: left;height: 55px">
    	<div style="height: 150px;text-align: center; padding-top:5px">
        <h1>
      	Sum the Values in a Column of a Pandas DataFrame
        </h1>
        <p>how to calculate the sum of numerical values in a particular column a pandas dataframe</p>
    	</div>
		</div>

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Key Code
    	</span>
		</div>
		</div>

In [ ]:
df['my_column'].sum()

 <div style="height:40px">
		<div style="width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:40px 0 20px;">
    	<span style="background:#fff; padding:0 10px; font-size:25px; font-family: 'Open Sans', sans-serif;">
        Example
    	</span>
		</div>
		</div>

## Preliminaries

In [1]:
import pandas as pd

## Create Example DataFrame

In [2]:
df = pd.DataFrame({'a': [1,2,3], 'b': [2,3,4], 'c':['dd','ee','ff'], 'd':[5,9,1]})
df

   a  b   c  d
0  1  2  dd  5
1  2  3  ee  9
2  3  4  ff  1

## We will get the sum of column 'd'

In [3]:
df['d'].sum()

15