In [106]:
import pandas as pd
import sqlite3
import os
import json
import sqlalchemy

In [107]:
class a_brick:
    __slots__ = ['_idNum', '_title','_desc','_code','_tags']
    
    def __init__ (self, idNum, title, desc, code, tags):
        self._idNum = idNum
        self._title = str(title)
        self._desc = str(desc)
        self._code = str(code)
        self._tags = str(tags)
    
    @property
    def idNum(self):
        return self._idNum
    
    @property
    def title(self):
        return self._title
    
    @property
    def desc(self):
        return self._desc
    
    @property
    def code(self):
        return self._code
    
    @property
    def tags(self):
        return self._tags
    
    @property
    def astuple(self):
        return (self.idNum, self.title, self.desc, self.code, self.tags)

In [108]:
rootdir = "../finalbricks/"
files = []
output = []

for filename in os.listdir(rootdir):
    if filename.endswith(".ipynb"): 
        files.append(filename)
    else:
        continue

#open each notebook in JSON format
for name in files:
    with open(rootdir+name) as json_file:
        code = json.load(json_file)
        nextfile = ()
        
        for item in code["cells"][0]["source"][1:4]: # we want title, description, and tags only
            item = item.replace('\"','').strip()
            index = item.find(':')
            nextfile += (item[index+2:],)
            
        title, desc, tags = nextfile
        # figure out how to fix the tags later
        brick = a_brick(None, title, desc, code, tags)
        output.append(brick.astuple)

In [109]:
df = pd.DataFrame(output, columns=['id', 'title', 'desc', 'code', 'tags'])

In [117]:
sqlite_db = './bricks3.sqlite'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

In [123]:
c.execute('CREATE TABLE bricks3 (id INTEGER PRIMARY KEY not None, title TEXT, desc TEXT, code LONGTEXT, tags TEXT);')
conn.commit()

OperationalError: table bricks3 already exists

In [124]:
df.to_sql('bricks3',             # Name of the table
            con=conn,                    # The handle to the file that is setup
            if_exists='replace',         # Overwrite, append, or fail
            index=False)                 # Add index as column

In [125]:
#b1 = a_brick(None, "sup", "desc2", "heres some more code", "python, pandas")

In [126]:
#c.execute('INSERT INTO bricks2 VALUES (?,?,?,?,?)', b1.astuple)
#conn.commit()

In [127]:
results = c.execute('SELECT * from bricks3')
results.fetchall()

[(None,
  'Pandas select rows containing values',
  'Pandas select rows containing values',
  '{\'cells\': [{\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'---\\n\', \'title: "Pandas select rows containing values"\\n\', \'description: "Pandas select rows containing values"\\n\', \'tags: Pandas, EDA\\n\', \'URL:\\n\', \'Licence:\\n\', \'\\n\', \'---\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'# Select Rows Containing Values in Pandas\']}, {\'cell_type\': \'code\', \'execution_count\': None, \'metadata\': {}, \'outputs\': [], \'source\': ["# to select rows containing \'keyword\' in column \'my_column\'\\n", "df[df[\'my_column\'].map(lambda x: \'keyword\' in x)]"]}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'---\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'## Example\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'### Preliminaries\']}, {\'cell_type\': \'code\', \'execution_count\': 12, \'metadata\': {}, \'outputs\': [], \'source\': [\'import pandas as pd\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'### Create an example dataframe\']}, {\'cell_type\': \'code\', \'execution_count\': 16, \'metadata\': {}, \'outputs\': [{\'data\': {\'text/html\': [\'<div>\\n\', \'<style scoped>\\n\', \'    .dataframe tbody tr th:only-of-type {\\n\', \'        vertical-align: middle;\\n\', \'    }\\n\', \'\\n\', \'    .dataframe tbody tr th {\\n\', \'        vertical-align: top;\\n\', \'    }\\n\', \'\\n\', \'    .dataframe thead th {\\n\', \'        text-align: right;\\n\', \'    }\\n\', \'</style>\\n\', \'<table border="1" class="dataframe">\\n\', \'  <thead>\\n\', \'    <tr style="text-align: right;">\\n\', \'      <th></th>\\n\', \'      <th>name</th>\\n\', \'      <th>country</th>\\n\', \'    </tr>\\n\', \'  </thead>\\n\', \'  <tbody>\\n\', \'    <tr>\\n\', \'      <th>0</th>\\n\', \'      <td>Jason</td>\\n\', \'      <td>[Syria, Lebanon]</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>1</th>\\n\', \'      <td>Molly</td>\\n\', \'      <td>[Spain, Morocco]</td>\\n\', \'    </tr>\\n\', \'  </tbody>\\n\', \'</table>\\n\', \'</div>\'], \'text/plain\': [\'    name           country\\n\', \'0  Jason  [Syria, Lebanon]\\n\', \'1  Molly  [Spain, Morocco]\']}, \'execution_count\': 16, \'metadata\': {}, \'output_type\': \'execute_result\'}], \'source\': ["data = {\'name\': [\'Jason\', \'Molly\'], \\n", "        \'country\': [[\'Syria\', \'Lebanon\'],[\'Spain\', \'Morocco\']]}\\n", \'df = pd.DataFrame(data)\\n\', \'df\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': ["### Select all rows containing \'Syria\' in the \'country\' column"]}, {\'cell_type\': \'code\', \'execution_count\': 17, \'metadata\': {}, \'outputs\': [{\'data\': {\'text/html\': [\'<div>\\n\', \'<style scoped>\\n\', \'    .dataframe tbody tr th:only-of-type {\\n\', \'        vertical-align: middle;\\n\', \'    }\\n\', \'\\n\', \'    .dataframe tbody tr th {\\n\', \'        vertical-align: top;\\n\', \'    }\\n\', \'\\n\', \'    .dataframe thead th {\\n\', \'        text-align: right;\\n\', \'    }\\n\', \'</style>\\n\', \'<table border="1" class="dataframe">\\n\', \'  <thead>\\n\', \'    <tr style="text-align: right;">\\n\', \'      <th></th>\\n\', \'      <th>name</th>\\n\', \'      <th>country</th>\\n\', \'    </tr>\\n\', \'  </thead>\\n\', \'  <tbody>\\n\', \'    <tr>\\n\', \'      <th>0</th>\\n\', \'      <td>Jason</td>\\n\', \'      <td>[Syria, Lebanon]</td>\\n\', \'    </tr>\\n\', \'  </tbody>\\n\', \'</table>\\n\', \'</div>\'], \'text/plain\': [\'    name           country\\n\', \'0  Jason  [Syria, Lebanon]\']}, \'execution_count\': 17, \'metadata\': {}, \'output_type\': \'execute_result\'}], \'source\': ["df[df[\'country\'].map(lambda country: \'Syria\' in country)]"]}], \'metadata\': {\'kernelspec\': {\'display_name\': \'Python 3\', \'language\': \'python\', \'name\': \'python3\'}, \'language_info\': {\'codemirror_mode\': {\'name\': \'ipython\', \'version\': 3}, \'file_extension\': \'.py\', \'mimetype\': \'text/x-python\', \'name\': \'python\', \'nbconvert_exporter\': \'python\', \'pygments_lexer\': \'ipython3\', \'version\': \'3.6.7\'}}, \'nbformat\': 4, \'nbformat_minor\': 2}',
  'Pandas, EDA'),
 (None,
  'Pandas Crosstabs',
  'using the crosstabs method pandas',
  '{\'cells\': [{\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'---\\n\', \'title: "Pandas Crosstabs"\\n\', \'description: "using the crosstabs method pandas"\\n\', \'tags: Pandas, Data Cleaning / Preprocessing, EDA\\n\', \'URL: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html\\n\', \'Licence:\\n\', \'\\n\', \'---\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'# Pandas Crosstabs\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'---\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'### Import pandas\']}, {\'cell_type\': \'code\', \'execution_count\': 1, \'metadata\': {}, \'outputs\': [], \'source\': [\'import pandas as pd\']}, {\'cell_type\': \'code\', \'execution_count\': 2, \'metadata\': {}, \'outputs\': [{\'data\': {\'text/html\': [\'<div>\\n\', \'<table border="1" class="dataframe">\\n\', \'  <thead>\\n\', \'    <tr style="text-align: right;">\\n\', \'      <th></th>\\n\', \'      <th>regiment</th>\\n\', \'      <th>company</th>\\n\', \'      <th>experience</th>\\n\', \'      <th>name</th>\\n\', \'      <th>preTestScore</th>\\n\', \'      <th>postTestScore</th>\\n\', \'    </tr>\\n\', \'  </thead>\\n\', \'  <tbody>\\n\', \'    <tr>\\n\', \'      <th>0</th>\\n\', \'      <td>Nighthawks</td>\\n\', \'      <td>infantry</td>\\n\', \'      <td>veteran</td>\\n\', \'      <td>Miller</td>\\n\', \'      <td>4</td>\\n\', \'      <td>25</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>1</th>\\n\', \'      <td>Nighthawks</td>\\n\', \'      <td>infantry</td>\\n\', \'      <td>rookie</td>\\n\', \'      <td>Jacobson</td>\\n\', \'      <td>24</td>\\n\', \'      <td>94</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>2</th>\\n\', \'      <td>Nighthawks</td>\\n\', \'      <td>cavalry</td>\\n\', \'      <td>veteran</td>\\n\', \'      <td>Ali</td>\\n\', \'      <td>31</td>\\n\', \'      <td>57</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>3</th>\\n\', \'      <td>Nighthawks</td>\\n\', \'      <td>cavalry</td>\\n\', \'      <td>rookie</td>\\n\', \'      <td>Milner</td>\\n\', \'      <td>2</td>\\n\', \'      <td>62</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>4</th>\\n\', \'      <td>Dragoons</td>\\n\', \'      <td>infantry</td>\\n\', \'      <td>veteran</td>\\n\', \'      <td>Cooze</td>\\n\', \'      <td>3</td>\\n\', \'      <td>70</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>5</th>\\n\', \'      <td>Dragoons</td>\\n\', \'      <td>infantry</td>\\n\', \'      <td>rookie</td>\\n\', \'      <td>Jacon</td>\\n\', \'      <td>4</td>\\n\', \'      <td>25</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>6</th>\\n\', \'      <td>Dragoons</td>\\n\', \'      <td>cavalry</td>\\n\', \'      <td>veteran</td>\\n\', \'      <td>Ryaner</td>\\n\', \'      <td>24</td>\\n\', \'      <td>94</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>7</th>\\n\', \'      <td>Dragoons</td>\\n\', \'      <td>cavalry</td>\\n\', \'      <td>rookie</td>\\n\', \'      <td>Sone</td>\\n\', \'      <td>31</td>\\n\', \'      <td>57</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>8</th>\\n\', \'      <td>Scouts</td>\\n\', \'      <td>infantry</td>\\n\', \'      <td>veteran</td>\\n\', \'      <td>Sloan</td>\\n\', \'      <td>2</td>\\n\', \'      <td>62</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>9</th>\\n\', \'      <td>Scouts</td>\\n\', \'      <td>infantry</td>\\n\', \'      <td>rookie</td>\\n\', \'      <td>Piger</td>\\n\', \'      <td>3</td>\\n\', \'      <td>70</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>10</th>\\n\', \'      <td>Scouts</td>\\n\', \'      <td>cavalry</td>\\n\', \'      <td>veteran</td>\\n\', \'      <td>Riani</td>\\n\', \'      <td>2</td>\\n\', \'      <td>62</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>11</th>\\n\', \'      <td>Scouts</td>\\n\', \'      <td>cavalry</td>\\n\', \'      <td>rookie</td>\\n\', \'      <td>Ali</td>\\n\', \'      <td>3</td>\\n\', \'      <td>70</td>\\n\', \'    </tr>\\n\', \'  </tbody>\\n\', \'</table>\\n\', \'</div>\'], \'text/plain\': [\'      regiment   company experience      name  preTestScore  postTestScore\\n\', \'0   Nighthawks  infantry    veteran    Miller             4             25\\n\', \'1   Nighthawks  infantry     rookie  Jacobson            24             94\\n\', \'2   Nighthawks   cavalry    veteran       Ali            31             57\\n\', \'3   Nighthawks   cavalry     rookie    Milner             2             62\\n\', \'4     Dragoons  infantry    veteran     Cooze             3             70\\n\', \'5     Dragoons  infantry     rookie     Jacon             4             25\\n\', \'6     Dragoons   cavalry    veteran    Ryaner            24             94\\n\', \'7     Dragoons   cavalry     rookie      Sone            31             57\\n\', \'8       Scouts  infantry    veteran     Sloan             2             62\\n\', \'9       Scouts  infantry     rookie     Piger             3             70\\n\', \'10      Scouts   cavalry    veteran     Riani             2             62\\n\', \'11      Scouts   cavalry     rookie       Ali             3             70\']}, \'execution_count\': 2, \'metadata\': {}, \'output_type\': \'execute_result\'}], \'source\': ["raw_data = {\'regiment\': [\'Nighthawks\', \'Nighthawks\', \'Nighthawks\', \'Nighthawks\', \'Dragoons\', \'Dragoons\', \'Dragoons\', \'Dragoons\', \'Scouts\', \'Scouts\', \'Scouts\', \'Scouts\'], \\n", "        \'company\': [\'infantry\', \'infantry\', \'cavalry\', \'cavalry\', \'infantry\', \'infantry\', \'cavalry\', \'cavalry\',\'infantry\', \'infantry\', \'cavalry\', \'cavalry\'], \\n", "        \'experience\': [\'veteran\', \'rookie\', \'veteran\', \'rookie\', \'veteran\', \'rookie\', \'veteran\', \'rookie\',\'veteran\', \'rookie\', \'veteran\', \'rookie\'],\\n", "        \'name\': [\'Miller\', \'Jacobson\', \'Ali\', \'Milner\', \'Cooze\', \'Jacon\', \'Ryaner\', \'Sone\', \'Sloan\', \'Piger\', \'Riani\', \'Ali\'], \\n", "        \'preTestScore\': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],\\n", "        \'postTestScore\': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}\\n", "df = pd.DataFrame(raw_data, columns = [\'regiment\', \'company\', \'experience\', \'name\', \'preTestScore\', \'postTestScore\'])\\n", \'df\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'### Create a crosstab table by company and regiment\\n\', \'\\n\', \'Counting the number of observations by regiment and category\']}, {\'cell_type\': \'code\', \'execution_count\': 3, \'metadata\': {}, \'outputs\': [{\'data\': {\'text/html\': [\'<div>\\n\', \'<table border="1" class="dataframe">\\n\', \'  <thead>\\n\', \'    <tr style="text-align: right;">\\n\', \'      <th>company</th>\\n\', \'      <th>cavalry</th>\\n\', \'      <th>infantry</th>\\n\', \'      <th>All</th>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>regiment</th>\\n\', \'      <th></th>\\n\', \'      <th></th>\\n\', \'      <th></th>\\n\', \'    </tr>\\n\', \'  </thead>\\n\', \'  <tbody>\\n\', \'    <tr>\\n\', \'      <th>Dragoons</th>\\n\', \'      <td>2</td>\\n\', \'      <td>2</td>\\n\', \'      <td>4</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>Nighthawks</th>\\n\', \'      <td>2</td>\\n\', \'      <td>2</td>\\n\', \'      <td>4</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>Scouts</th>\\n\', \'      <td>2</td>\\n\', \'      <td>2</td>\\n\', \'      <td>4</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>All</th>\\n\', \'      <td>6</td>\\n\', \'      <td>6</td>\\n\', \'      <td>12</td>\\n\', \'    </tr>\\n\', \'  </tbody>\\n\', \'</table>\\n\', \'</div>\'], \'text/plain\': [\'company     cavalry  infantry  All\\n\', \'regiment                          \\n\', \'Dragoons          2         2    4\\n\', \'Nighthawks        2         2    4\\n\', \'Scouts            2         2    4\\n\', \'All               6         6   12\']}, \'execution_count\': 3, \'metadata\': {}, \'output_type\': \'execute_result\'}], \'source\': [\'pd.crosstab(df.regiment, df.company, margins=True)\']}, {\'cell_type\': \'markdown\', \'metadata\': {}, \'source\': [\'### Create a crosstab of the number of rookie and veteran cavalry and infantry soldiers per regiment\']}, {\'cell_type\': \'code\', \'execution_count\': 4, \'metadata\': {}, \'outputs\': [{\'data\': {\'text/html\': [\'<div>\\n\', \'<table border="1" class="dataframe">\\n\', \'  <thead>\\n\', \'    <tr style="text-align: right;">\\n\', \'      <th></th>\\n\', \'      <th>regiment</th>\\n\', \'      <th>Dragoons</th>\\n\', \'      <th>Nighthawks</th>\\n\', \'      <th>Scouts</th>\\n\', \'      <th>All</th>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>company</th>\\n\', \'      <th>experience</th>\\n\', \'      <th></th>\\n\', \'      <th></th>\\n\', \'      <th></th>\\n\', \'      <th></th>\\n\', \'    </tr>\\n\', \'  </thead>\\n\', \'  <tbody>\\n\', \'    <tr>\\n\', \'      <th rowspan="2" valign="top">cavalry</th>\\n\', \'      <th>rookie</th>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>3</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>veteran</th>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>3</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th rowspan="2" valign="top">infantry</th>\\n\', \'      <th>rookie</th>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>3</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>veteran</th>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>1</td>\\n\', \'      <td>3</td>\\n\', \'    </tr>\\n\', \'    <tr>\\n\', \'      <th>All</th>\\n\', \'      <th></th>\\n\', \'      <td>4</td>\\n\', \'      <td>4</td>\\n\', \'      <td>4</td>\\n\', \'      <td>12</td>\\n\', \'    </tr>\\n\', \'  </tbody>\\n\', \'</table>\\n\', \'</div>\'], \'text/plain\': [\'regiment             Dragoons  Nighthawks  Scouts  All\\n\', \'company  experience                                   \\n\', \'cavalry  rookie             1           1       1    3\\n\', \'         veteran            1           1       1    3\\n\', \'infantry rookie             1           1       1    3\\n\', \'         veteran            1           1       1    3\\n\', \'All                         4           4       4   12\']}, \'execution_count\': 4, \'metadata\': {}, \'output_type\': \'execute_result\'}], \'source\': [\'pd.crosstab([df.company, df.experience], df.regiment,  margins=True)\']}], \'metadata\': {\'kernelspec\': {\'display_name\': \'Python 3\', \'language\': \'python\', \'name\': \'python3\'}, \'language_info\': {\'codemirror_mode\': {\'name\': \'ipython\', \'version\': 3}, \'file_extension\': \'.py\', \'mimetype\': \'text/x-python\', \'name\': \'python\', \'nbconvert_exporter\': \'python\', \'pygments_lexer\': \'ipython3\', \'version\': \'3.6.7\'}}, \'nbformat\': 4, \'nbformat_minor\': 2}',
  'Pandas, Data Cleaning / Preprocessing, EDA'),
 (None,
  'pandas select rows when the column has certain values',
  'pandas select rows when the column has certain values',

In [49]:
c.execute('DELETE FROM bricks2 WHERE id < 100;')
conn.commit()
results = c.execute('SELECT * from bricks2')
results.fetchall()

[]

In [51]:
for o in output:
    c.execute('INSERT INTO bricks2 VALUES (?, ?, ?, ?, ?)', o)

conn.commit()    
results = c.execute('SELECT * from bricks2')
results.fetchall()

InterfaceError: Error binding parameter 3 - probably unsupported type.